.left {
  height: 1px;
  /* left: 43px;
  top: 548px; */

  background: linear-gradient(270deg, rgba(217, 217, 217, 0.75) 0%, rgba(217, 217, 217, 0) 94.39%);
  @apply w-[70px] sm:w-[100px] md:w-[120px] lg:w-[180px];
}

.right {
  height: 1px;
  /* left: 248px;
  top: 548px; */

  background: linear-gradient(89.99deg, rgba(217, 217, 217, 0.75) 0%, rgba(217, 217, 217, 0) 105.61%);
  @apply w-[70px] sm:w-[100px] md:w-[120px] lg:w-[180px];
}
